# --- Environnements virtuels ---
.venv/
venv/

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Logs ---
*.log

# --- VSCode ---
.vscode/

# --- OS (macOS / Windows) ---
.DS_Store
Thumbs.db

# --- Node / Tailwind ---
node_modules/
tailwindcss

# --- ML Models ---
*.h5
*.keras
*.pth
*.onnx

# --- Données brutes et générées ---
data/
train/
test/
mixed/

# --- Archives / Kaggle ---
*.zip
*.json
